h2 {
  font-size: 27px * 1;
}
h3{
  font-size: 5px +2px; /*INCOMPATIBLES*/
}

.contenedor {
  width: 80%;
 display: flow-root;
  border: 2px solid black;
  background-color: blue;
  margin: auto;
  box-sizing: border-box;
}

article[role="main"] {
  float: left;
  min-height: 400px;
  background-color: royalblue;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: left;
  background-color: skyblue;
  min-height: 400px;
  width: 360px / 960px * 100%;
}
